# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [89]:
# Import libraries
import numpy as np
import pandas as pd

In [90]:
# Importing the dataset
pokemon = pd.read_csv("pokemon.csv")
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [91]:
# your code here

display(pokemon.dtypes)
pokemon[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed", "Total"]]

pokemon["New Total"] = pokemon.iloc[:, 5:11].sum(axis = 1)

pokemon

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,New Total
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,600

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [108]:
# your code here
from sklearn.preprocessing import OneHotEncoder

#Unable to combine TYpe1 and Type 2 column
X_cat = pokemon[["Type 1", "Type 2"]]
X_cat

      Type 1  Type 2
0      Grass  Poison
1      Grass  Poison
2      Grass  Poison
3      Grass  Poison
4       Fire     NaN
..       ...     ...
795     Rock   Fairy
796     Rock   Fairy
797  Psychic   Ghost
798  Psychic    Dark
799     Fire   Water

[800 rows x 2 columns]

In [93]:
encoder = OneHotEncoder().fit(X_cat)
cols = encoder.get_feature_names_out(input_features=X_cat.columns)
X_cat_encode = pd.DataFrame(encoder.transform(X_cat).toarray(),columns=cols)
X_cat_encode.head().T

                   0    1    2    3    4
Type 1_Bug       0.0  0.0  0.0  0.0  0.0
Type 1_Dark      0.0  0.0  0.0  0.0  0.0
Type 1_Dragon    0.0  0.0  0.0  0.0  0.0
Type 1_Electric  0.0  0.0  0.0  0.0  0.0
Type 1_Fairy     0.0  0.0  0.0  0.0  0.0
Type 1_Fighting  0.0  0.0  0.0  0.0  0.0
Type 1_Fire      0.0  0.0  0.0  0.0  1.0
Type 1_Flying    0.0  0.0  0.0  0.0  0.0
Type 1_Ghost     0.0  0.0  0.0  0.0  0.0
Type 1_Grass     1.0  1.0  1.0  1.0  0.0
Type 1_Ground    0.0  0.0  0.0  0.0  0.0
Type 1_Ice       0.0  0.0  0.0  0.0  0.0
Type 1_Normal    0.0  0.0  0.0  0.0  0.0
Type 1_Poison    0.0  0.0  0.0  0.0  0.0
Type 1_Psychic   0.0  0.0  0.0  0.0  0.0
Type 1_Rock      0.0  0.0  0.0  0.0  0.0
Type 1_Steel     0.0  0.0  0.0  0.0  0.0
Type 1_Water     0.0  0.0  0.0  0.0  0.0
Type 2_Bug       0.0  0.0  0.0  0.0  0.0
Type 2_Dark      0.0  0.0  0.0  0.0  0.0
Type 2_Dragon    0.0  0.0  0.0  0.0  0.0
Type 2_Electric  0.0  0.0  0.0  0.0  0.0
Type 2_Fairy     0.0  0.0  0.0  0.0  0.0
Type 2_Fighting  0.0  0.0  0.0  0.0  0.0
Type 2_Fire      0.0  0.0  0.0  0.0  0.0
Type 2_Flying    0.0  0.0  0.0  0.0  0.0
Type 2_Ghost     0.0  0.0  0.0  0.0  0.0
Type 2_Grass     0.0  0.0  0.0  0.0  0.0
Type 2_Ground    0.0  0.0  0.0  0.0  0.0
Type 2_Ice       0.0  0.0  0.0  0.0  0.0
Type 2_Normal    0.0  0.0  0.0  0.0  0.0
Type 2_Poison    1.0  1.0  1.0  1.0  0.0
Type 2_Psychic   0.0  0.0  0.0  0.0  0.0
Type 2_Rock      0.0  0.0  0.0  0.0  0.0
Type 2_Steel     0.0  0.0  0.0  0.0  0.0
Type 2_Water     0.0  0.0  0.0  0.0  0.0
Type 2_nan       0.0  0.0  0.0  0.0  1.0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [94]:
# your code here

X_cat_encode["Total"] = pokemon["Total"]
X_cat_encode.head().T

                     0      1      2      3      4
Type 1_Bug         0.0    0.0    0.0    0.0    0.0
Type 1_Dark        0.0    0.0    0.0    0.0    0.0
Type 1_Dragon      0.0    0.0    0.0    0.0    0.0
Type 1_Electric    0.0    0.0    0.0    0.0    0.0
Type 1_Fairy       0.0    0.0    0.0    0.0    0.0
Type 1_Fighting    0.0    0.0    0.0    0.0    0.0
Type 1_Fire        0.0    0.0    0.0    0.0    1.0
Type 1_Flying      0.0    0.0    0.0    0.0    0.0
Type 1_Ghost       0.0    0.0    0.0    0.0    0.0
Type 1_Grass       1.0    1.0    1.0    1.0    0.0
Type 1_Ground      0.0    0.0    0.0    0.0    0.0
Type 1_Ice         0.0    0.0    0.0    0.0    0.0
Type 1_Normal      0.0    0.0    0.0    0.0    0.0
Type 1_Poison      0.0    0.0    0.0    0.0    0.0
Type 1_Psychic     0.0    0.0    0.0    0.0    0.0
Type 1_Rock        0.0    0.0    0.0    0.0    0.0
Type 1_Steel       0.0    0.0    0.0    0.0    0.0
Type 1_Water       0.0    0.0    0.0    0.0    0.0
Type 2_Bug         0.0    0.0    0.0    0.0    0.0
Type 2_Dark        0.0    0.0    0.0    0.0    0.0
Type 2_Dragon      0.0    0.0    0.0    0.0    0.0
Type 2_Electric    0.0    0.0    0.0    0.0    0.0
Type 2_Fairy       0.0    0.0    0.0    0.0    0.0
Type 2_Fighting    0.0    0.0    0.0    0.0    0.0
Type 2_Fire        0.0    0.0    0.0    0.0    0.0
Type 2_Flying      0.0    0.0    0.0    0.0    0.0
Type 2_Ghost       0.0    0.0    0.0    0.0    0.0
Type 2_Grass       0.0    0.0    0.0    0.0    0.0
Type 2_Ground      0.0    0.0    0.0    0.0    0.0
Type 2_Ice         0.0    0.0    0.0    0.0    0.0
Type 2_Normal      0.0    0.0    0.0    0.0    0.0
Type 2_Poison      1.0    1.0    1.0    1.0    0.0
Type 2_Psychic     0.0    0.0    0.0    0.0    0.0
Type 2_Rock        0.0    0.0    0.0    0.0    0.0
Type 2_Steel       0.0    0.0    0.0    0.0    0.0
Type 2_Water       0.0    0.0    0.0    0.0    0.0
Type 2_nan         0.0    0.0    0.0    0.0    1.0
Total            318.0  405.0  525.0  625.0  309.0

In [99]:
import seaborn as sns

corr_matrix = X_cat.corr()
type(corr_matrix)
# sns.heatmap(corr_matrix, annot = True)

/var/folders/yl/blp7v0ys1lzdfkls51wcv3l40000gn/T/ipykernel_26718/22937327.py:4: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = X_cat.corr()

ValueError: zero-size array to reduction operation fmin which has no identity

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [88]:
# your code here